.content {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: #ecf791;
  padding: 10px 20px 10px 20px;
  border: solid;
  border-color: white;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #446a87;
  margin: 5px;
}

button:hover {
  color:#ecf791;
  background-color: #f78076;
  border-color: white;
}